/* @import url("https://fonts.googleapis.com/css?family=Lato:400,700i");

.title {
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 3rem;
  color: #2c3e50;
  margin-bottom: 40px;
  margin-top:40px;
  display: inline-flex;
}

.for_ageists {
  font-weight: 700;
  font-style: italic;
} */


