.form-group {
  width: 100%;
  display: flex;
}

.form-group > .form-control {
  display: inline-flex;
  margin: 5px;
}

.form-group > .btn {
  display: inline-flex;
}

.btn {
  margin: 10px;
  align-content: center;
  justify-self: center;
  justify-content: center;
  
}

.search {
  justify-self: center;
  align-content: center;
  justify-content: center;
}